 body {
 	background-image: url(images/popcorn.jpg);
 	box-sizing: border-box;
 	background-size: cover;
 	outline: none;
 }

 button {
	background-color: rgb(12, 93, 163);
	border-radius: 5px;
	outline: none;
	margin-bottom: 2px;
}
 .container {
 	display: flex;
	justify-content: center;
	justify-items: center;
	border: solid 0px rgb(235, 225, 225) ;
	background-color: aliceblue;
	
 }

 .input-box {
 	font-family: 'Helvetica';
 	margin: 2;
	margin-top: -6%;
 }




  p {
color: rgb(17, 18, 19);
font-size: 15px;
text-align: start;

}
  h2{

		text-align: center;
	}



 